{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
<div class="container">
    {% include 'AppBundle:Board:board.html.twig' with grid %}

    <div class="text-center mt-3">
        End: {{ message }} <br>
        <a href="{{ path('start') }}" class="btn btn-primary mt-3">New Game ?</a>
    </div>

</div>

{% endblock body %}

