{% extends '@App/layout.html.twig' %}

{% block title %}Welcome to Tic Tac Toe Lamalo ?! {% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5 mb-5">A minimalist template to show some Tic Tac Toe.... XoXo </h1>

                <a href="{{ path('start') }}" class="btn btn-lg btn-info">
                    {% if latestGameStatus == 'finished' %}Play {% else %} Resume {% endif %}it Now !
                </a>
            </div>
        </div>
    </div>
{% endblock %}